@inherits LayoutComponentBase

<header class="ef-topbar">
    <a class="ef-brand" href="/">ExpenseFlow</a>
    <a class="ef-nav" href="/documents">Documentos</a>
</header>
<main class="ef-main">
@Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
